* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
}

#workspaces button {
  padding: 3px;
  min-width: 30px;
  transition: all 350ms ease-in-out;
  color: white;
  margin: 5px;
  border-radius: 20px;
  background: alpha(#898989, 0.4);
  border: 1px solid #454545;
}

#workspaces button.active {
    min-width: 60px;
}

#workspaces button.focused {
  background: #64727D;
  border-bottom: 3px solid white;
}

#clock {
  padding: 0 10px;
  background-color: #64727D;
  border-radius: 20px;
  margin: 5px;
  border-radius: 20px;
  background: alpha(#898989, 0.4);
  border: 1px solid #454545;
}

#idle_inhibitor {
  padding: 0 10px;
  color: alpha(#898989, 0.8); 
  margin: 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

